<div id="list-layout-container" fxFlex>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="enter-todo-form">
    <mat-form-field appearance="outline">
      <!-- <mat-label>Outline form field</mat-label> -->
      <input matInput formControlName="todoInput" #todoInput placeholder="Enter your task here">
    </mat-form-field>
    <button mat-flat-button type="submit" color="primary" [disabled]="!todoInput.value">
      Add Task
    </button>
  </form>
</div>

<div *ngIf="todos.length === 0" id="info-message">
  <mat-icon color="primary">info</mat-icon>
  <span>
    To create your task list please use the input field and press "Add Task" button, or simply press ENTER key.
  </span>
</div>

<div *ngIf="todos">
  <div *ngFor="let todo of pageSlice">
    <app-to-do [todo]="todo" (todoDeleted)="deleteTodo($event)" (toggleComplete)="toggleCompletion($event)"></app-to-do>
  </div>
  <mat-paginator class="mat-elevation-z2"
    [length]="todos.length"
    [pageSize]="5"
    showFirstLastButtons
    [pageSizeOptions]="[5, 10, 15]"
    (page)="onPageChange($event)"
    ></mat-paginator>
</div>

<div *ngIf="todos.length > 1" id="controls-container">
  <button (click)="deleteAll()" mat-flat-button color="warn">
    Delete All Tasks
  </button>
</div>
