@import '../styles.scss';

#layout-container {
  width: 100%;
  height: 100%;

  header {
    @include alignmentMixin(column, center, center);
    background-color: #226ac7;
    height: 10%;

    h1 {
      color: white;
    }
  }
}

#to-do-list-container {
  width: 100%;
  height: 80%;
  @include alignmentMixin(row, center, flex-start);
}
